
<!--div class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <label class="form-control">{{id_node.description}}</label>
    <span class="input-group-btn">
        <button class="btn btn-default" data-toggle="modal" data-target="#{{modalWindowName}}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span>
        </button>
    </span>
</div>
<div name="tree-view-modal-window" class="modal fade" id="{{modalWindowName}}" tabIndex="-1" role="dialog" aria-labelledby="treeViewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="treeViewLabel">Tree view</h4>
            </div>
            <div class="modal-body pre-scrollable">
                <tree-dnd expand-level="expandLevel"
                          tree-data="tree_data"
                          tree-control="my_tree"
                          primary-key="id"
                          column-defs="col_defs"
                          on-select="my_tree_handler(node)"
                          expand-on="expanding_property">
                </tree-dnd>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div-->
<script>

</script>
<!-- style>

    .nav > li.dropdown.open { position: static; }
    .nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
    .dropdown-menu>li { display: table-cell; }
</style -->
<ul class="nav pull-right" style="width: 100%;">
    <li class="btn-group dropdown" style="width: 100%;">
        <div>
            <div style="display: block;" class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input style="margin-top: 1px;" class="form-control" type="text" ng-model="selectedNode.id" ng-readonly="readonly"
                       schema-validate="form" placeholder="{{placeholder}}">
            </div>
            <div class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input style="z-index: 2; position: relative; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" class="form-control"
                       ng-model="id_node.description"
                        />
                <span class="input-group-btn" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick" is-open="status.isOpened">
                    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle
                            id="{{modalWindowName}}" style="z-index: 2; position: relative;" ng-if="!readonly">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span>
                    </button>
                    <!-- a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a -->
                    <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 0px;" uib-dropdown-menu
                         aria-labelledby="{{modalWindowName}}">
                        <!-- Login form here -->
                        <div class="pre-scrollable" >
                            <div style="min-width: 600px; width: 50%;word-wrap: break-word; white-space: normal; text-overflow: ellipsis;">
                                <tree-dnd expand-level="expandLevel"
                                          tree-data="tree_data"
                                          tree-control="my_tree"
                                          primary-key="id"
                                          column-defs="col_defs"
                                          on-select="my_tree_handler(node)"
                                          expand-on="expanding_property">
                                </tree-dnd>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


    </li>
</ul>