<div class="form-group" ng-class="{'has-error': hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}" >
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>

    <km-tree-view km-data="form.options.data" hierarchy-key="{{form.options.hierarchyKey}}"
                  km-url="{{form.options.dataUrl}}" expand-level="1" validation="true" placeholder=""
                  selected-node="$$value$$" readonly="form.readonly" form="form"></km-tree-view>

    <span class="help-block" sf-message="form.description"></span>
</div>