<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-tree-dnd/dist/ng-tree-dnd.js"></script>

    <script src="../dist/kmTree.js"></script>
    <script src="main.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/angular-tree-dnd/dist/ng-tree-dnd.css">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script -->
    <script src="../node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.js"></script>
</head>
<body ng-app="testApp">

<div ng-controller="testCtrl">

    <km-tree-view km-data="fc" hierarchy-key="{{true}}"  selected-node="selectedNode" validation="false"
                  readonly="readonlyValue" expand-level="1" placeholder="Select product"></km-tree-view>
    <km-tree-view km-data="fc" hierarchy-key="{{true}}" selected-node="selectedNode1"
                  validation="false"
                  readonly="readonlyValue" expand-level="2"></km-tree-view>
</div>

</body>
</html>